*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
width: 1400px;
background: #fff;
margin: 30px auto;
}

.Item{
    background: coral;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 3fr;
    grid-auto-rows: 4fr;
    gap: 1rem;
}